ipykernel==7.1.0
matplotlib==3.10.7
opencv-contrib-python==4.12.0.88
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
scikit-image
omegaconf
imgaug
ninja
timm
albumentations
scipy
joblib
scikit-learn
ruamel.yaml
trimesh
pyyaml
imageio
open3d
transformations
einops
gdown
nodejs
huggingface-hub